/* src/components/aboutus.css */

.about-us-section {
  padding: 60px 20px; /* Adicionei padding lateral para responsividade */
  text-align: center;
  background-color: #2c2c2c; /* Adicionei um fundo escuro para destaque */
}

.about-us-section h2,
.about-us-section h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #d3a42e; /* Mudança de cor para um tom mais atraente */
}

.about-us-section p,
.about-us-section li {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff; /* Mantendo o texto branco para boa legibilidade */
}

.about-us-section ul {
  list-style-type: none; /* Removi as marcas de lista */
  padding: 0; /* Removi o padding padrão */
}

.about-us-section li {
  margin-bottom: 15px; /* Reduzi a margem para itens de lista */
  padding: 10px; /* Adicionei padding para espaçamento interno */
  border-left: 4px solid #d3a42e; /* Adicionei uma borda esquerda para destaque */
  transition: background-color 0.3s; /* Transição suave para hover */
}

.about-us-section li:hover {
  background-color: rgba(211, 164, 46, 0.1); /* Efeito hover sutil */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .about-us-section h2,
  .about-us-section h3 {
      font-size: 2rem; /* Reduz o tamanho da fonte em telas menores */
  }

  .about-us-section p,
  .about-us-section li {
      font-size: 1rem; /* Reduz o tamanho da fonte em telas menores */
  }
}
