/* src/components/customerbooking.css */

.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    
}

.calendar-time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.time-selection {
    margin-left: 20px;
}

.time-buttons {
    display: flex;
    flex-direction: column;
}

.time-button {
    margin: 5px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.time-button.selected {
    background-color: #0056b3;
}

.time-button:hover {
    opacity: 0.8;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Allows wrapping if the screen is smaller */
}

.service-selection, .vehicle-selection, .address-selection {
    width: 30%; /* Adjust width as needed */
    min-width: 200px; /* Ensures they are not too small */
}

/* Dropdown styling */
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
}